---
import LanguageSwitcher from './LanguageSwitcher.astro';
---
<header class="p-4 flex justify-between items-center shadow">
  <a href="/en"><img src="/images/logos/open-loop-payments.jpg" alt="Open Loop Payments" class="h-10" /></a>
  <nav class="space-x-4">
    <a href="/en/courses">Courses</a>
    <a href="/en/blog">Blog</a>
    <a href="/en/pricing">Pricing</a>
    <a href="/en/help">Help</a>
    <a href="/en/contact">Contact</a>
  </nav>
  <LanguageSwitcher />
</header>