<select onchange="location = this.value;" class="border rounded px-2 py-1">
  <option value="/en" selected>English</option>
  <option value="/pt">Português (BR)</option>
  <option value="/es">Español</option>
</select>